<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/ticket.css" rel="stylesheet" />
    <title>Contact Form</title>
</head>
<body>
    <div class="container">
        <form action="action_page.php">
        <div class="headings">
            <h1>MOTOR VEHICLE PARTICULARS</h1>
           
        </div>
        
          <div class="row">
            <div class="col-25">
              <label for="vehicleNo">Vehicle licence no</label>
            </div>
            <div class="col-75">
              <input type="text" id="vehicleNo" name="vehicleNo">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="discNo">Licence disc no</label>
            </div>
            <div class="col-75">
              <input type="text" id="discNo" name="discNo">
            </div>
          </div>
           
          <div class="row">
            <div class="col-25">
              <label for="operatorCardNo">Operator card no</label>
            </div>
            <div class="col-75">
              <input type="text" id="operatorCardNo" name="operatorCardNo" >
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="vehicleType">Vehicle description (type)</label>
            </div>
            <div class="col-75">
              <input type="text" id="vehicleType" name="vehicleType" >
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="vehicleGvm">Vehicle GVM</label>
            </div>
            <div class="col-75">
              <input type="text" id="vehicleGvm" name="vehicleGvm" >
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="make">Make</label>
            </div>
            <div class="col-75">
              <input type="text" id="make" name="make">
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="seriesModel">Series (Model)</label>
            </div>
            <div class="col-75">
              <input type="text" id="seriesModel" name="seriesModel" >
            </div>
          </div>

          <div class="row">
            <div class="col-25">
              <label for="colour">Colour</label>
            </div>
            <div class="col-75">
              <input type="text" id="colour" name="colour" >
            </div>
          </div>
          

          <br>
          <div class="pnstyle">
            <a href="contact.html" class="previous">&laquo; Previous</a>
            <a href="location.html" class="next">Next &raquo;</a>
          </div>
          
        </form>
    </div>
</body>
</html>